
main{
    color: black;
    margin: 3%;
    padding: 3%;
}

h1{
    text-align: center;
    color: white;
}

h2{
  text-align: left;
  font-size: medium;
  color: black;
}


p{
    text-align: left;
    font-size: 1.5em;
}

section{
    margin : 2%
}

#expression{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}



