
main{
    
    color: black;
    margin: 3%;
    padding: 3%;
}

main h1{
    text-align: center;
}

h2{
  text-align: justify;
  font-size: 1em;
  color: darkslategrey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2%;
  border-radius: 15px;
}

.News{
  text-align: justify;
  font-size: 1em;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2%;
  border-radius: 15px;
}

.storyline a, .storyline a:hover, .storyline a:visited{
    text-decoration: none;
    color: black;
}

.News:hover{
    background-color: lightgray;
    text-decoration: none;
}




aside{
    text-align: center;
    margin: 5%;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}


#account h1{
    color: royalblue;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    font-size: 1.5em;
    text-decoration: none;
}

#account a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5%;
}

#account section:hover{
    text-decoration: none;
    color: black;
    background-color: lightgray;
}



