main{
    margin : 3%;
    padding: 3%;
}

section{
    margin: 3%;
    padding: 3%;
    background: darkgray;
}

main h1{
    font-size: 1.5em;
}

main .comment h2{
    font-size: 1.2em;
}

main .comment h3{
    font-size: 1.2em;
}

main .comment{
    margin: 3%;
    padding: 3%;
    background: lightgray;
}

div img{
    display: block;
    min-width: 90%;
    min-height: 70%;
    max-width: 95%;
    max-height : 95%;
	height: auto;
    margin-left: auto;
    margin-right: auto;
}

#mycomment{
    font-size: 1.2em;
    font-weight: bold;
}

