body{
    background-image: url('../../Pictures/Backgrounds/background8.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: blanchedalmond;
}

main{
    margin : 3%;
    padding: 3%;
    opacity: 0.92;
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
    /*background-image: url('../../Pictures/Backgrounds/Grain.jpg');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: double ;
    border-width: thick;
    border-radius: 2%;
    

}

/*Header*/

#head{
    background-color: black;
    border: blanchedalmond 2px solid;
    margin-left: 2%;
    margin-right: 2%;
    
}

figure{
   text-align: center;
  /*  border: blanchedalmond 1px solid;*/
}

#logo{
    /*width: 1024px;
    height: 768px;*/
    min-width: 10%;
    width: 15%;
    height: auto;
    margin: auto;
}


#bar{
    background-color: #7f5a83;
background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);


    text-align: center;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;*/
}

.tab{
    
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tab:hover{
    color: white;
    text-decoration: none;
}



/*Footer*/

footer{
    background-image: url('../../Pictures/Backgrounds/Argent.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10%;
    }

footer a{
    color: black;
}

footer a:hover{
    color: gray;
    text-decoration: none;
}